@import '../variables';

.dl-subsection {
  max-height: 140px; // Approximate element height

  padding: 10px 5px;
  margin: 2px 0;
  border-radius: 5px;
  border: none;

  background-color: $gray-100;

  transition-property: all;
  transition-duration: 0.3s;
}

.dl-subsection-note {
  margin: 0.25em 0;
  color: #444;
}

.windows-subsection {
  border: solid 2px $windows-accent-dark;
}

.osx-subsection {
  border: solid 2px black;
}

.linux-subsection {
  border: solid 2px $linux-accent-dark;
}
