.dl-subsection {
  max-height: 140px; // Approximate element height

  padding: 10px 0;
  margin: 4px 0;
  border-radius: 5px;

  background-color: #d4d4d487;

  transition-property: all;
  transition-duration: 0.3s;
}

.dl-subsection-note {
  margin: 0.25em 0;
  color: #444;
}
