@import '../variables';

.download-btn {
  background-color: $dustkid-purple;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 60px;
  margin: 10px auto;

  border: none;
  border-radius: 10px;

  box-shadow: 0 3px 2px #000;

  font-family: $heading-font;
  font-size: 2rem;
  color: white;

  filter: brightness(.9);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(1);
  }

  &:disabled {
    cursor: not-allowed;
    filter:  opacity(.4);
  }
}
