@import '../variables';

.download-btn {
  background-color: $dustkid-purple;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px 50px;
  margin: 25px auto;

  border: none;
  border-radius: 10px;

  font-family: $heading-font;
  font-size: 2rem;
  color: white;

  filter: brightness(.9);

  transition-duration: 0.2s;

  &:hover {
    filter: brightness(1);
  }

  &:disabled {
    cursor: not-allowed;
    filter:  opacity(.4);

    &:hover {
      transform: scale(1);
    }
  }
}

@mixin download-btn--phone() {
  .download-btn {
    padding: 10px 45px;
  }
}
