@import '../variables';

.os-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 0 30px;

  margin: 15px;

  border: none;
  border-radius: 5px;
}

.windows-btn {
  background-color: $windows-accent-100;
  border: solid 2px $windows-accent-500;
}

.windows-text {
  color: $windows-accent-500;
}

.osx-btn {
  background-color: $gray-200;
  border: solid 2px black;
}

.linux-btn {
  background-color: $linux-accent-100;
  border: solid 2px $linux-accent-400;
}
