.os-choice-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  max-height: 885px; // Approximate element height

  margin: 30px 0;

  opacity: 1;

  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

@mixin os-choice-grid--phone-p() {
  .os-choice-grid {
    max-height: 1050px; // Approximate element height
  }
}
