.section-inner {
  width: 750px;
  padding: 10px 15px;
  margin: 0 auto;
  border-radius: 5px;
}

@mixin section-inner--phone() {
  .section-inner {
    box-sizing: border-box;
    width: 94%;
    padding: 7px 10px;
  }
}

@mixin section-inner--desktop() {
  .section-inner {
    width: 860px;
  }
}
