.section-inner {
  width: 650px;
  margin: 0 auto;
}

@mixin section-inner--phone() {
  .section-inner {
    width: 96%;
  }
}

@mixin section-inner--desktop() {
  .section-inner {
    width: 860px;
  }
}
