.section-inner {
  width: 750px;
  margin: 0 auto;
}

@mixin section-inner--phone() {
  .section-inner {
    width: 94%;
  }
}

@mixin section-inner--desktop() {
  .section-inner {
    width: 860px;
  }
}
