.btn-main {
  background-color: $primary-400;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 10px 50px;
  margin: 25px auto 0;

  border: solid 1px $primary-200;
  border-radius: 10px;

  transition-duration: 0.2s;

  &:active {
    background-color: $primary-500;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $primary-500;
    opacity: .3;

    &:hover {
      transform: scale(1);
    }
  }
}

.btn-main-text {
  font-family: $body-font;
  font-size: 2rem;
  color: white;

  margin: 0;
}

@mixin btn-main--phone() {
  .btn-main {
    padding: 13px 20px;
  }

  .btn-main-text {
    font-size: 1.75rem;
  }
}
