.os-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 0 30px;

  margin: 15px;

  border: none;
  border-radius: 5px;
}

.windows-btn {
  background-color: $windows-accent-dark;
  border: solid 2px $windows-accent-light;
}

.windows-text {
  color: $windows-accent-light;
}

.mac-os-x-btn {
  background-color: $gray-700;
  border: solid 2px $gray-100;
}

.mac-os-x-text {
  color: $gray-100;
}

.linux-btn {
  background-color: $linux-accent-light;
  border: solid 2px $linux-accent-dark;
}

.linux-text {
  color: $linux-accent-dark;
}
