// Variable declarations
$heading-font: 'Roboto Condensed', sans-serif;
$text-font: 'Roboto', sans-serif;

$gray-100: #C4C4C4;
$gray-200: #9E9E9E;
$gray-300: #7F7F7F;
$gray-400: #666666;
$gray-500: #4C4C4C;
$gray-600: #2D2D2D;
$gray-700: #171717;

$primary-100: #F5E7FF;
$primary-200: #DCAEFA;
$primary-300: #C681F4;
$primary-400: #B05BEA;
$primary-500: #9838D8;

$windows-accent-light: #579ADD;
$windows-accent-dark: #274666;

$linux-accent-light: #FFC87D;
$linux-accent-dark: #BD7410;

$mobile-sm-portrait-max-width: 300px;
$mobile-sm-landscape-max-width: 530px;

$mobile-md-portrait-min-width: $mobile-sm-portrait-max-width + 1px;
$mobile-md-portrait-max-width: 360px;

$mobile-md-landscape-min-width: $mobile-sm-landscape-max-width + 1px;
$mobile-md-landscape-max-width: 640px;

$mobile-lg-portrait-min-width: $mobile-md-portrait-max-width + 1px;
$mobile-lg-portrait-max-width: 450px;

$mobile-lg-landscape-min-width: $mobile-md-landscape-max-width + 1px;
$mobile-lg-landscape-max-width: 840px;

$tablet-sm-portrait-win-width: 600px;
$tablet-sm-portrait-max-width: 768px;

$tablet-sm-landscape-min-width: 960px;
$tablet-sm-landscape-max-width: 1024px;

$tablet-lg-portrait-min-width: $tablet-sm-portrait-max-width + 1px;
$tablet-lg-portrait-max-width: 1280px;

$tablet-lg-landscape-min-width: $tablet-sm-landscape-max-width + 1px;
$tablet-lg-landscape-max-width: 1366px;

$desktop-min-width: $tablet-lg-landscape-max-width + 1px;
// End variable declarations
