@import 'variables';

// Base rules
html {
  font-size: 20px;
}

body {
  margin: 0;
}

header, footer {
  background-color: $dustkid-purple;
}

header {
  margin-bottom: 25px;
}

section {
  margin: 25px 0;
}

footer {
  margin-top: 25px;
  padding: 5px 0;
}

header h1 {
  color: white;
}

footer {
  text-align: center;
}

footer a {
  color: inherit;
}

footer span {
  font-weight: bold;
}

h1, h2, h3, p, blockquote, cite, li {
  font-family: $text-font;
}

h1 {
  font-family: $heading-font;
  font-size: 2.5em;
  margin: 0;
}

h2 {
  color: $dustkid-purple;
  text-align: left;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  margin: 0.5em 0;
}

p {
  margin: 0.1em 0;
  word-break: break-word;
}

blockquote {
  margin: 0;
  border-left: 10px solid $dustkid-purple;
}

blockquote::before {
  color: $dustkid-purple;
  content: open-quote;
  font-size: 4em;
  line-height: 0;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

cite {
  text-align: right;
}

cite::before {
  content: '\2013';
}

ul {
  padding: 0.5em 2em;
  margin: 0;
  background-color: #cdcdcd66;
  border-radius: 5px;
}

button {
  cursor: pointer;

  transition-property: all;
  transition-duration: 0.3s;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.05);
  }
}
// End base rules
