@import 'variables';

// Base rules
html {
  font-size: 20px;
}

body {
  background-color: $gray-100;
  margin: 0;
}

header, footer {
  background-color: white;
}

header {
  margin-bottom: 25px;
}

section {
  margin: 25px 0;
}

footer {
  margin-top: 25px;
  padding: 5px 0;
  text-align: center;
}

footer p {
  color: $primary-500;
  margin: 10px 0;
}

footer a {
  color: inherit;
}

footer span {
  font-weight: bold;
}

h3, p, blockquote, cite, li {
  font-family: $text-font;
}

h1 {
  font-family: $heading-font;
  font-size: 2.5em;
  color: $primary-500;
  margin: 0;
}

h2 {
  font-family: $heading-font;
  color: $primary-500;
  text-align: left;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  margin: 0.5em 0;
}

p {
  margin: 0.1em 0;
  word-break: break-word;
}

blockquote {
  background-color: $gray-100;
  border-left: 10px solid $primary-500;

  margin: 0;
}

blockquote::before {
  color: $primary-500;
  content: open-quote;
  font-size: 4em;
  line-height: 0;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

cite {
  display: block;
  text-align: right;
}

cite::before {
  content: '\2013';
}

ul {
  padding: 0.5em 2em;
  margin: 0;
  // background-color: #cdcdcd66;
  border-radius: 5px;
}

button {
  cursor: pointer;

  transition-property: all;
  transition-duration: 0.3s;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.05);
  }
}

@mixin font-size--phone() {
  html {
    font-size: 17px;
  }
}
// End base rules
