// Layout rules
.l-header {

}

.l-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l-features {

}

.l-download {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.l-installation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l-footer {

}

.l-footer > p { // Move to modules
  color: white;
}
// End layout rules
