// Layout rules
.l-header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.l-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l-download {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.l-installation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// End layout rules
