// Variable declarations
$mobile-sm-portrait-max-width: 300px;
$mobile-sm-landscape-max-width: 530px;

$mobile-md-portrait-min-width: $mobile-sm-portrait-max-width + 1px;
$mobile-md-portrait-max-width: 360px;

$mobile-md-landscape-min-width: $mobile-sm-landscape-max-width + 1px;
$mobile-md-landscape-max-width: 640px;

$mobile-lg-portrait-min-width: $mobile-md-portrait-max-width + 1px;
$mobile-lg-portrait-max-width: 450px;

$mobile-lg-landscape-min-width: $mobile-md-landscape-max-width + 1px;
$mobile-lg-landscape-max-width: 840px;

$tablet-sm-portrait-win-width: 600px;
$tablet-sm-portrait-max-width: 768px;

$tablet-sm-landscape-min-width: 960px;
$tablet-sm-landscape-max-width: 1024px;

$tablet-lg-portrait-min-width: $tablet-sm-portrait-max-width + 1px;
$tablet-lg-portrait-max-width: 1280px;

$tablet-lg-landscape-min-width: $tablet-sm-landscape-max-width + 1px;
$tablet-lg-landscape-max-width: 1366px;

$desktop-min-width: $tablet-lg-landscape-max-width + 1px;
// End variable declarations

// Media queries
  // Mobile
    // Small
      // Portrait
      @media(max-width: #{$mobile-sm-portrait-max-width}) and (orientation: portrait) {

      }

      // Landscape
      @media(max-width: #{$mobile-sm-landscape-max-width}) and (orientation: landscape) {

      }

    // Medium
      // Portrait
      @media(min-width: #{$mobile-md-portrait-min-width}) and (max-width: #{$mobile-md-portrait-max-width}) and (orientation: portrait) {

      }

      // Landscape
      @media(min-width: #{$mobile-md-landscape-min-width}) and (max-width: #{$mobile-md-landscape-max-width}) and (orientation: landscape) {

      }

    // Large
      // Portrait
      @media(min-width: #{$mobile-lg-portrait-min-width}) and (max-width: #{$mobile-lg-portrait-max-width}) and (orientation: portrait) {

      }

      // Landscape
      @media(min-width: #{$mobile-lg-landscape-min-width}) and (max-width: #{$mobile-lg-landscape-max-width}) and (orientation: landscape) {

      }

  // Tablet
    // Small
      // Portrait
      @media(min-width: #{$tablet-sm-portrait-win-width}) and (max-width: #{$tablet-sm-portrait-max-width}) and (orientation: portrait) {

      }

      // Landscape
      @media(min-width: #{$tablet-sm-landscape-min-width}) and (max-width: #{$tablet-sm-landscape-max-width}) and (orientation: landscape) {

      }

    // Large
      // Portrait
      @media(min-width: #{$tablet-lg-portrait-min-width}) and (max-width: #{$tablet-lg-portrait-max-width}) and (orientation: portrait) {

      }

      // Landscape
      @media(min-width: #{$tablet-lg-landscape-min-width}) and (max-width: #{$tablet-lg-landscape-max-width}) and (orientation: landscape) {

      }

  // Desktop
    @media(min-width: #{$desktop-min-width}) {

    }
