// State rules
.expand-enter-active, .expand-leave-active {
  transition: all 0.2s linear;
}

.expand-enter, .expand-leave-to {
  max-height: 0;
  opacity: 0;
}

.image-slider-move {
  transition: transform 0.4s;
}

.is-focused {
  transform: scale(1.1);
  outline: none;
}

.is-semi-transparent {
  filter: opacity(.5);
}

[v-cloak] {
  display: none;
}
// End state rules
