// Variable declarations
$heading-font: 'Roboto Condensed', sans-serif;
$text-font: 'Roboto', sans-serif;

$dustkid-purple: #9b59c8;
// End variable declarations

// Base rules
body {
  margin: 0;
}

header, section, footer {
  margin: 0;
  padding: 10px;
}

header, footer {
  background-color: $dustkid-purple;
}

h1 {
  font-family: $heading-font;
  font-size: 2em;
  margin: 0;
}

p, blockquote, cite {
  font-family: $text-font;
}

blockquote {
  background-color: #f9f9f9;
  padding-left: 15px;
  margin: 1em 0;
  border-left: 10px solid #ccc;
}

blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

cite {
  text-align: right;
}

cite::before {
  content: '\2013';
}

button {
  cursor: pointer;
}
// End base rules

// Layout rules
.l-about {
}

.l-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
// End layout rules

// Module rules
.section-inner {
  width: 60%;
  margin: 0 auto;
}

.header-text {
  color: white;
}

.download-btn {
  background-color: $dustkid-purple;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 60px;
  margin: 0 auto;

  border: none;
  border-radius: 10px;

  box-shadow: 0 3px 2px #000;

  font-family: $heading-font;
  font-size: 2rem;
  color: white;

  filter: brightness(.9);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(1);
  }
}

.os-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 30px 0;
}

.os-btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  height: 250px;

  background-color: #9a9a9a6b;

  border: none;

  box-shadow: 0 0 14px -2px #000;

  transition: transform 0.2s,
              box-shadow 0.2s;

  &:hover {
    box-shadow: 0 0 14px -2px #000;
    transform: scale(1.1);
  }
}

.os-choice-img {
  width: 90px;
  height: auto;
  margin-top: 40px;
}

.btn-icon {
  height: 30px;
  width: auto;

  margin-left: 5px;
}
// End module rules

// State rules
// End state rules
