// Module rules
.header-text { // Change to descendant selector under header
  color: white;
}

.important-text { // Change to descendant selector under footer
  font-weight: bold;
}

.footer-link { // Change to descendant selector under footer
  color: white;
}
// End module rules

[v-cloak] {
  display: none;
}
